---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CategoryCard from "../../components/common/CategoryCard.astro";
import projectsCategories from "../../data/projects-categories.json";
---

<BaseLayout
  pageTitle="Projects"
  pageDescription="This section is dedicated to my personal projects!"
  heroTitle="Projects"
  heroDescription="This section is dedicated to my personal projects!"
>
  <section class="columns is-multiline mx-auto mt-6 mb-6">
    {
      projectsCategories.map((category) => {
        return (
          <div class="column is-one-third-desktop is-6-tablet fade-in">
            <CategoryCard
              title={category.title}
              description={category.description}
              slug={`/projects/${category.slug}`}
            />
          </div>
        );
      })
    }
  </section>
</BaseLayout>
