---
import DefaultLayout from "./DefaultLayout.astro";
import Hero from "../components/common/Hero.astro";
import { SEO } from "astro-seo";
import "../assets/style/main.scss";

interface Props {
  pageTitle: string;
  pageDescription: string;
  heroTitle?: string;
  heroDescription?: string;
}

const { pageTitle, pageDescription, heroTitle, heroDescription } = Astro.props;
---

<script>
  import { getTheme } from "../utils/theme";
  document.addEventListener("DOMContentLoaded", () => getTheme());
</script>

<html lang="en" data-theme="light">
  <meta charset="UTF-8" />
  <SEO
    title={pageTitle.includes("404")
      ? pageTitle
      : `Domenico Tenace - ${pageTitle}`}
    description={pageDescription}
    extend={{
      link: [
        { rel: "icon", href: "/favicon.ico" },
        { rel: "me", href: "https://mastodon.uno/@dvalin99" },
      ],
      meta: [
        {
          name: "viewport",
          content: "width=device-width",
        },
        {
          name: "generator",
          content: Astro.generator,
        },
      ],
    }}
  />

  <body>
    <DefaultLayout>
      <section class="min-70-vh">
        {
          heroTitle && heroDescription && (
            <section class="has-text-centered mt-6 fade-in">
              <Hero
                title={heroTitle!}
                titleSize="is-size-2"
                titleSizeMobile="is-size-3"
                subtitle={heroDescription!}
                subtitleSize="is-size-4"
                subtitleSizeMobile="is-size-5"
              />
            </section>
          )
        }
        <slot />
      </section>
    </DefaultLayout>
  </body>
</html>
