---
import Navbar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";
import "../assets/style/main.scss";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />

     
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
  <script>
    import { getTheme } from "../utils/theme";
    document.addEventListener("DOMContentLoaded", () => getTheme());
  </script>

  <script
    data-name="BMC-Widget"
    data-cfasync="false"
    src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
    data-id="domenicotenace"
    data-description="Support me on Buy me a coffee!"
    data-message="Support me!"
    data-color="#ffa500"
    data-position="Right"
    data-x_margin="18"
    data-y_margin="18"></script>
</html>
